html,
body,
th,
td {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif !important;
}

p {
  font-family: 'Kanit', sans-serif !important;
}

button {
  font-family: 'Kanit', sans-serif !important;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (min-width: 2048px) {
  .MuiContainer-root {
    max-width: 1866px;
  }
}

@media (max-width: 2040px) and (min-width: 1200px) {
  .MuiContainer-root {
    max-width: 1366px;
  }
}